html, body {
    margin: 0;
    height: 100%;
    font-family: 'ArchitectsDaughterRegular', sans-serif;
    font-size: 20px;
    overflow-y: hidden;
}

:root {
    --main-font-color: rgb(214, 205, 205);
    --second-color: rgb(126, 148, 98);
    --main-background-color: rgb(31, 34, 37);
    --input-background-color: rgb(238, 234, 216);
    --warning-color: rgb(230, 33, 79);
    --warning-background-color: rgb(245, 130, 157);
    --hover-color: rgb(76, 94, 52);
}

body {
    display: flex;
    width: 100vw;
    background-color: var(--main-background-color);
}

#image-container {
    flex: 1 40%;
    min-width: 500px;
    position: relative;
    background-color: var(--main-background-color);

}

#image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    background-color: rgba(31, 34, 37, 0.5);
    position: absolute;
    top: 15%;
    font-family: 'LachataNormal', sans-serif;
    font-size: 4rem;
    color: whitesmoke; 
}

#photo-credit {
    position: absolute;
    bottom: 1px;
    left: 30px;
    color: rgb(150, 142, 142);
    font-size: 0.6rem;
    font-family: 'Arial', sans-serif;
}

#photo-credit > a {
    text-decoration: none;
    color: rgb(150, 142, 142);
    transition: all 0.3s ease;
}

#photo-credit > a:hover {
    font-size: 0.8rem;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

#sign-up-form {
    background-color: rgb(31, 34, 37);
    color: var(--main-font-color);
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 100px;
    justify-content: center;
    
}

#image-container, h3, .header, .group-field, .name-field, .contact-field, .password-field, #submit-button, .log-in-prompt {
    opacity: 0;
    animation: slidedown 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

h3 {
    font-size: 0.9rem;
    animation-delay: 0.5s;
}

@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-2.1rem);
        
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.group-field {
    display: flex;
    gap: 200px;
    
}

.name-field {
    animation-delay: 0.7s;
}

.contact-field {
    animation-delay: 1.1s;
}

.password-field {
    animation-delay: 1.5s;
}

#submit-button, .log-in-prompt {
    animation-delay: 1.9s;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;

}

.input-field > label {
    order: 1;
    font-size: 0.7rem;
    transition: all 0.5s ease;
    margin-bottom: 5px;
}

.input-field > input {
    order: 2;
    background-color: var(--input-background-color);
    width: 350px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
    transition: all 0.5s ease;
    border: 2px solid var(--input-background-color);

    &:focus {
        outline: none;
        border: 2px solid var(--second-color);
        
        +label {
            color: var(--second-color);
        }
    }
}

.input-field > .confirm-message {
    order: 3;
    position: absolute;
    top: 3.5rem;
    left: 0.5rem;
}

.input-field > .tooltip-container {
    position: absolute;
    order: 3;
    left: 18.3rem;
    top: 1.5rem;
    color: var(--main-font-color);
    &:hover {
        .tooltip-content {
            visibility: visible;
            opacity: 1;
            transition: .25s all ease;
            transition-delay: 0s;
            
        }
    }
}
.tooltip-content {
    color: var(--main-font-color);
    font-size: 0.6rem;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 1rem;
    width: 350px;
    transition: 0.8s all ease;
}

span[aria-label="required"]{
    color: var(--warning-color);
}

input[type="password"] {
    font-family: Verdana;
    font-size: 30px;
    letter-spacing: 0.2rem;
}

#submit-button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-family:inherit;
    font-size: 0.9rem;
    margin: 60px 0 10px 0;
    background-color: var(--second-color);
    color: rgb(248, 242, 242);
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

#submit-button:hover {
    background-color: var(--hover-color);
}

.log-in-prompt, .confirm-message {
    font-size: 0.7rem;
}

.log-in-prompt > a {
    color: var(--second-color);
    text-decoration: none;
    transition: all 0.2s ease;
}

.log-in-prompt > a:hover {
    color: var(--hover-color);
}



.invalid-input:invalid {
    border: 2px solid var(--warning-color);
    background-color: var(--warning-background-color);
}

